@import "../../styles/breakpoints";
.header {
  margin-top: 60px;
  .headerTitles {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Lora", serif;
    color: #cc4955;
    .headerTitleSm {
      position: absolute;
      top: 18%;
      font-size: 20px;
      @include mobile {
        top: 10%;
      }
    }
    .headerTitleLg {
      position: absolute;
      top: 20%;
      font-size: 100px;
      @include mobile {
        top: 11%;
      }
    }
  }
  .headerImg {
    width: 100%;
    height: 450px;
    margin-top: 80px;
    object-fit: cover;
  }
}
